{{#if this.shouldShow}}
  <section class="category-boxes with-logos with-subcategories">
    <div
      class="custom-categories-groups"
      {{did-insert this.initializeLocalStorage}}
    >
      {{#each categoryGroupList as |t|}}
        <div
          class="custom-category-group-{{this.slugifyIdentifier t.name}}
            is-expanded"
        >
          <a
            id={{this.slugifyIdentifier t.name}}
            class="custom-category-group-toggle"
            href
            {{action "toggleCategories" t.name}}
          >
            <h2>{{t.name}}</h2>
            {{d-icon "angle-right"}}
          </a>

          <ul class="custom-category-group">
            {{#each t.categories as |c|}}
              <PluginOutlet
                @name="category-box-before-each-box"
                @outletArgs={{hash category=c}}
              />

              {{! modified version of the core categories-boxes layout }}
              <li
                style={{unless noCategoryStyle (border-color c.color)}}
                data-category-id={{c.id}}
                data-notification-level={{c.notificationLevelString}}
                data-url={{c.url}}
                class="category category-box category-box-{{c.slug}}
                  {{if c.isMuted 'muted'}}
                  {{if noCategoryStyle 'no-category-boxes-style'}}"
              >
                <div class="category-box-inner">
                  <div class="category-logo">
                    {{#if c.uploaded_logo.url}}
                      <CategoryLogo @category={{c}} />
                    {{/if}}
                  </div>
                  <div class="category-details">
                    <div class="category-box-heading">
                      <a class="parent-box-link" href={{c.url}}>
                        <h3>
                          {{category-title-before category=c}}
                          {{#if c.read_restricted}}
                            {{d-icon "lock"}}
                          {{/if}}
                          {{c.name}}
                        </h3>
                      </a>
                    </div>

                    <div class="description">
                      {{html-safe c.description_excerpt}}
                    </div>
                    {{#if c.isGrandParent}}
                      {{#each c.subcategories as |subcategory|}}
                        <div
                          data-category-id={{subcategory.id}}
                          data-notification-level={{subcategory.notificationLevelString}}
                          style={{border-color subcategory.color}}
                          class="subcategory with-subcategories
                            {{if
                              subcategory.uploaded_logo.url
                              'has-logo'
                              'no-logo'
                            }}"
                        >
                          <div class="subcategory-box-inner">
                            {{category-title-link
                              tagName="h4"
                              category=subcategory
                            }}
                            {{#if subcategory.subcategories}}
                              <div class="subcategories">
                                {{#each
                                  subcategory.subcategories
                                  as |subsubcategory|
                                }}
                                  {{#unless subsubcategory.isMuted}}
                                    <span class="subcategory">
                                      {{category-title-before
                                        category=subsubcategory
                                      }}
                                      {{category-link
                                        subsubcategory
                                        hideParent="true"
                                      }}
                                    </span>
                                  {{/unless}}
                                {{/each}}
                              </div>
                            {{/if}}
                          </div>
                        </div>
                      {{/each}}
                    {{else if c.subcategories}}
                      <div class="subcategories">
                        {{#each c.subcategories as |sc|}}
                          <a class="subcategory" href={{sc.url}}>
                            <span class="subcategory-image-placeholder">
                              {{cdn-img
                                src=sc.uploaded_logo.url
                                class="logo"
                                width=sc.uploaded_logo.width
                                height=sc.uploaded_logo.height
                                alt=""
                              }}
                            </span>
                            {{category-link sc hideParent="true"}}
                          </a>
                        {{/each}}
                      </div>
                    {{/if}}
                  </div>
                  <PluginOutlet
                    @name="category-box-below-each-category"
                    @outletArgs={{hash category=c}}
                  />
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  </section>
{{/if}}